@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

html {
  background: linear-gradient(45deg, rgb(241, 134, 231), rgb(247, 247, 181));
  height: 100%;
}


button {
  border-radius: 4px;
  background-color: rgb(229, 185, 249);
  height: 25px;
  width: 25px;
  font-weight: bold;
}

#box {
  max-width: 640px;
  margin: 50px auto;
  background: rgba(179, 206, 244, 0.832);
  padding: 20px;
  border-radius: 10px;
  border-color: black;
}

#nome-tarefa {
  border-radius: 4px;
  width: 250px;
  height: 25px;
}

#titulo {
  width: 250px;
  margin: 20px auto;
}

#titulo-lista {
  width: 300px;
  margin: 20px auto;
  align-content: center;
}

#lista-tarefas {
  margin-left: 11vw; 
  font-family: 'Architects Daughter', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 2em;
}